.heroHeader{
    background-color: $color-blue;
    height: 95vh;
    color:white;
    width: 100%;
    text-align: center;
    padding-top: 60px;

    background-image: url(../assets/img/dogs.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    h1{
        font-size: calc(14px + (85 - 14) * ((100vw - 300px) / (1600 - 300)));
    }
   .logo{
       margin: 0 auto;
       height: 50%;
       background-image: url(../assets/img/171048_161808003869981_1290097_o.jpg);
       background-position: center;
       background-repeat: no-repeat;
       background-size: contain;
       
   }
}