.kontakt{
    background-color: $color-orange;
    height: 95vh;
    color:white;
    width: 100%;
    text-align: center;
    padding-top: 100px;
    h1{
        font-size: calc(14px + (65 - 14) * ((100vw - 300px) / (1600 - 300)));
     }
     .col-lg-3{
         padding: 30px;
     }

    .image{
        margin: 0 auto;
        height: 70%;
        background-image: url(../assets/img/adresa.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        
    }

    .iconice{
        font-size: 4rem;
    }
    p{
        font-size: 2rem;
    }
}