
.navbar{
  
    background-color:$color-green;
    padding: 0;

    &-brand{
        background-color: $color-green;
        color:$color-green;
        width: 200px;
    }
    .navbar-expand-sm{
        padding: 0;
       
    }
    ul{
        padding: 0;
    }
        .nav-item{
            padding: 15px;
            height: 50px;
            background-color:$color-green;
            &:hover{
                background-color:$color-green-dark;
            }
            .nav-link{
                height: 100%;
                color:white;
                padding: 0 30px;
                font-size: 1.5rem;

               
            }
        }
          
          

    button{
        padding: 0;
    }
}