.sectionN3{
    height: 408px;
   .row{
       height: 100%;
   }
    .leftCol{
        background-color: $color-blue-dark;
        color:white;
        height: 100%;
        padding: 100px;

        .logo{
            font-size: 5rem;
            font-weight: bold;
        }
    }

    .middleCol{
        height: 100%;
        padding: 100px;
        h1{
            margin-bottom: 50px;
        }
       color:white;
       background-color: $color-blue-dark;
        .iconAndTextCont{
            .iconice{
                font-size: 2rem;
            }

           i,p {
               display: inline-block;
               margin: 10px;
                }

            }
        .iconsCont{
            font-size: 2rem;
            i{
                margin-right: 10px;
            }
        }
        }

 

   .rightCol{
    color:blue;
    height: 400px;
    padding: 0;
  }

}
