.sectionN3{

    .leftCol{
        background-color: $color-blue-dark;
        color:white;
        height: 500px;
        padding: 50px;

        .logo{
            font-size: 3rem;
        }
    }

    .middleCol{
        padding: 30px;
        h1{
            margin-bottom: 50px;
        }
       color:white;
       background-color: $color-blue-dark;
        .iconAndTextCont{
            .iconice{
                font-size: 2rem;
            }

           i,p {
               display: inline-block;
               margin: 10px;
                }

            }
        .iconsCont{
            font-size: 2rem;
            i{
                margin-right: 10px;
            }
        }
        }

    .middleCol{
     color:white;
   }

   .rightCol{
    color:blue;
    height: 500px;
    padding: 0;
  }

}
