.sectionN3{
    height: 408px;
   .row{
       height: 100%;
   }
    .leftCol{
        background-color: $color-blue-dark;
        color:white;
        height: 100%;
        padding: 100px;

        .logo{
            font-size: 5rem;
            font-weight: bold;
        }
    }

    .middleCol{
        height: 100%;
        padding: 100px;
        h1{
            margin-bottom: 50px;
        }
       color:white;
       background-color: $color-blue-dark;
        .iconAndTextCont{
            .iconice{
                font-size: 2rem;
            }

           i,p {
               display: inline-block;
               margin: 10px;
                }

            }
        .iconsCont{
            font-size: 2rem;
            i{
                margin-right: 10px;
            }
        }
        }

 

   .rightCol{
    color:blue;
    height: 400px;
    padding: 0;
  }

}

.testing{
  background-color: blueviolet;
  height: 400px;
  padding: 100px;
  margin-bottom: 200px;

  .divtest1{
      color: white;
      width: 30%;
      background-color: yellowgreen;
      font-size: 1rem;
      
  }

  .active1{
    font-size: 3rem;
   }

  .divtest2{
      color: black;
      width: 30%;
      background-color: orange;

      &-active{
        background-color: blue;
      }
  }

}

.testing1{
    height: 900px;
    background-color: aqua;
    .divtest3{
        height: 900px;
       
        background-color: blue;
    }
    .active{git add
        font-size: 5rem;
        background-color: red;
       
       }
}
