.topBar{
    background-color: white;
    height: 110px;

    .logo{
        background-color: rgb(187, 176, 176);
        height: 100%;
        background-image: url(../assets/img/dogs.jpeg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .contactsContainer{
        background-color: white;
        height: 100%;
        padding: 30px;
    }

    .topBarContact{
        float: left;
        width: 210px;
        border: 1px solid red;
        background-color: white;
        margin-right: 60px;
    }

    .iconCont{
        float: left;
        padding: 11px 0;
        background-color: rgb(187, 181, 181);
        border-radius: 50%;
        width: 40px;
        height: 40px;
        text-align: center;
       
    }
    .textCont{
        float: left;
        width: 150px;
        font-size: 1.2rem;
        margin-left: 10px;
        color:$color-green-dark;
        background-color: white;
    }
    .iconice{
      font-size: 1.5rem;
      color:$color-green-dark;
    }
    p{
        margin: 0;

    }
}