.topBar{
    background-color: rgb(184, 159, 159);
    border:1px solid blue;
    height: 110px;

    .logo{
        background-color: rgb(187, 176, 176);
        border:1px solid red;
        height: 100%;
    }

    .contactsContainer{
        background-color: rgb(247, 199, 199);
        border:1px solid yellow;
        height: 100%;
        padding: 30px;
    }

    .topBarContact{
        float: left;
        width: 350px;
        border: 1px solid red;
        background-color: white;
    }

    .iconCont{
        float: left;
        padding: 11px 0;
        background-color: rgb(187, 181, 181);
        border-radius: 50%;
        width: 40px;
        height: 40px;
        text-align: center;
       
    }
    .textCont{
        float: left;
        width: 250px;
        font-size: 1.2rem;
        margin-left: 10px;
        color:$color-green-dark;
        background-color: white;
    }
    .iconice{
      font-size: 1.5rem;
    }
    p{
        margin: 0;

    }
}