$color-green:rgb(12, 194, 12);
$color-green-dark:rgb(12, 116, 12);
$color-back:#f2f2f2;
$color-yellow:rgb(245, 241, 13);
$color-yellow-dark:rgb(228, 224, 13);
$color-orange:rgb(230, 90, 48);
$color-orange-dark:rgb(187, 66, 30);
$color-blue:rgb(48, 157, 230);
$color-blue-dark:rgb(25, 118, 180);
